body {
    background-color: rgb(153, 77, 77);
}

.cf-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 15px 15px rgb(194, 36, 36);
    text-decoration: underline;
    letter-spacing: 20px;
    background-color: rgb(79, 184, 149);
}

.cf-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.courses-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .courses-text {
    font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  }