div[class^=box] {
    width: 300px;
    height: 100px;
    margin: 5px 5px;
    background-color: lightblue;
    text-align: center;
    line-height: 15px;
    color: rgb(184, 18, 18);
    lett
       
}

.container {
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

a:focus {
    outline: 5px solid blue;
}

a:visited {
    color: rgb(196, 193, 32);
}       